@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: #dc143c;
    --text-color: #333333;
    --border-color: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, serif;
}

body {
    background-color: #FAFAFA;
}

/* SIDEBAR */
aside {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-right: 1px solid var(--border-color);
    width: 300px;
    height: 100vh;
    padding: 20px;
    z-index: 2;
}

.brand {
    display: flex;
    align-items: center;
    gap: 5px;
}

.brand h1 {
    font-size: 18px;
    font-weight: 500;
}

.brand h1 span {
    color: var(--main-color);
    font-weight: bold;
}

.nav-title {
    color: rgb(155, 143, 143);
    font-size: 14px;
    font-weight: bold;
    padding: 100px 0 10px 0;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-menu button {
    background-color: transparent;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    transition: 0.3s ease-in-out;
}

.nav-menu .btn-active {
    background-color: var(--main-color);
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: 500;
    color: white !important;
}

.nav-menu button:hover {
    color: var(--main-color);
}

footer {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: gray;
    font-size: 12px;
}

/* MAIN(KONTEN UTAMA WEB) */
section {
    position: relative;
    min-height: 100vh;
    padding: 20px 20px 20px 320px;
    z-index: 1;
}

.header-section {
    font-size: 15px;
    margin-bottom: 20px;
}

.form-count-triangles {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.form-count-triangles input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0 10px;
}

.form-count-triangles input:focus {
    outline: 1px solid var(--main-color);
}

.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 5px;
}

.form-actions {
    display: flex;
    gap: 5px;
}

.form-actions button {
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.form-actions button:hover {
    background-color: crimson;
    color: white;
}

.result {
    list-style: none;
    font-size: 13px;
}

.formula {
    position: absolute;
    bottom: 20px;
    font-size: 13px;
    padding-top: 10px;
}

/* INFORMASI */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.information {
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: white;
    width: 500px;
    min-height: fit-content;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 4;
}

.information-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    font-size: 12px;
}

.information-header span {
    background-color: orange;
    padding: 3px 10px;
    border-radius: 5px;  
}

.information-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
    font-size: 20px;
    cursor: pointer;
    pointer-events: auto;
}

.information-content h1, .information-content h2 {
    font-size: 1.5em;
}

.information-content h5 {
    font-size: 13px;
    padding: 10px 0 5px 0;
}

.information-content ul {
    list-style: none;
    font-size: 13px;
}

/* RESPONSIVE STYLES */
@media (max-width: 768px) {
    /* SIDEBAR */
    aside {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
    }

    .brand {
        justify-content: center;
    }

    .nav-title {
        padding-top: 40px;
    }

    .nav-menu button {
        text-align: center;
    }

    /* MAIN(KONTEN UTAMA) */
    section {
        padding: 20px;
        min-height: 520px;
    }

    .header-section {
        text-align: center;
    }

    .form-count-triangles input {
        text-align: center;
    }

    .form-actions {
        justify-content: center;
    }

    .information {
        width: 95%;
        left: 10px;
    }
}
